/*color variables*/
:root {
  --white: #f0f0f0;
  --blue: #148989;
  --orange: #E57A21;
}
/*reset the base*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}
#nav-header{
  position:fixed;
  top:0;
  left:0;
  width:100%;

}
.nav-list{
  list-style: none;
  background-color:black;
  display:flex;
  
  justify-content: center;

}
.nav-list li{
padding:20px;
font-size:18px;
color:var(--white);
}

.nav-items{
  text-decoration: none;
  margin: 15px;
  color:var(--white);
}
.nav-list li:hover{
  background-color:rgba(8, 98, 77,.7);
  border-radius:15px;
  border: 2px solid var(--white);
}

.nav-items:visited{
  color:var(--white);
}
#main-section{
  width:100%;
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url("images/succs.jpg");
  background-size:cover;
  height:80vh;
  display:flex;
  justify-content:center;
  flex-direction: column;
  align-items:flex-start;
  padding:10%;

}


#profile-img{
  max-width:100%;
  height:auto;
  border-radius: 15px;
  width:100px;
  height:100px;
  border: 3px solid black;

}

h1{
  font-weight:700;
  font-size:72px;
  margin-top:15px;
  color: rgb(6,74,58);
  
}
h3{
  font-weight:500;
  font-size:30px;
  margin:15px;
  color: rgb(6,74,58);
}
h4{
  font-weight:500;
  font-size:24px;
}
#projects{
  background-color:#cecece;
padding-bottom: 25px;
}
.flex-change2{
  display:flex;
  margin:15px auto;
justify-content: center;
}

a
{
  text-decoration:none;
}
#contact{
  background-color:#3C4F50;
}
.contact-methods{
  display:flex;
  justify-content:center;
  align-items:center;

}
.horiz-line{
  border: 2px solid var(--white);
  width:100%;
}
footer{
  background-color: #3C4F50;
}
h2{
  font-size: 30px;
  padding:20px 0;
  font-weight:500;
  text-align:center;
  color:black;
}
.contact-me-resume{
  color:black;
  font-size:22px;
  padding:30px;
}
.contact-me:hover{
  transform:scale(1.1);
}
#contact p{
  font-size:24px;
  text-align: center;
  color:var(--white);
}
#contact h2{
  color:var(--white);
}
.icon-space{
  padding-right:10px;
}
.project-details{
  display:flex;
  justify-content: space-around;
  align-items: center;
  width:80%;
  margin:auto;
}
.project_ind{
  margin:15px;
  padding:50px;
  
}
.project_ss{
  width: 200px;
  height:200px;
max-width: 100%;
  object-fit: contain;
  border: 3px solid black;
  background-color:black;
}
.resume{
	font-size:18px;
	color:inherit;
	padding: 15px 45px;
	border:3px solid black;
	margin-top:25px;
	border-radius: 15px;
	background-color: rgba(8, 98, 77,.7);
	position:absolute;
}
.proj-title{
  display: block;
  text-align: center;
  font-size: 18px;
  color: rgb(6,74,58);
}
.proj-title:visited{
  background-color:var(--white);
}
.resumedetails{
    display:flex;
    flex-direction: column;
    background-color:#edeaea;
    position:absolute;
    z-index: 1;
    font-family: 'Slabo 27px', serif;
    width:80%;
    top: 2%;
    overflow-y: auto;
}
.close-resume {
    width:5%;
    color:black;
    background: none;
    justify-self: flex-end;
    margin-left:auto;
    border:none;
    
}

#skills-container {
    display:flex;
    justify-content: center;
    width: 90%;
    margin:15px auto;
    font-family: 'Slabo 27px', serif;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #dbd9d9;
    padding: 40px 25px;
    margin:10px;
    border-radius: 5px;
    font-family: inherit;
    width:20%;
}

.resume-icon {
    font-size: 48px;
    color:forestgreen;
}

.skills-seperator {
    width:100%;
    height:2px;
    border-width:0;
    background-color:forestgreen;
    color:forestgreen;
    margin: 5px 0 12px 0;
}
.skills p{
    font-size: 18px;
    font-family: inherit;
}

.resume-about {
    background-color: #C8E6C9;
    padding:50px;
    font-size:20px;
    text-align:center;
}
.resumedetails h2 {
    font-size:36px;
    margin-bottom:-15px;
}
.resume-about h3 {
  font-weight:500;
  font-size:54px;
  margin:15px;
  font-family: 'Slabo 27px', serif;
}
.close-background {
    display:flex;
    justify-content: center;
    height: 60px;
    width:100%;
    align-items: center;
}
.header-seperator {
    border: 2px solid black;
    height:2px;
    width: 7%;
    margin: 0 auto 15px;
    
}
#education-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color:#DCEDC8;
    height:25%;
    margin:0 auto;
}
.navbar {
    margin:15px;
    color:grey;
    font-size: 18px;
}
.navbar:visited {
    color:grey;
}

.header-details {
    margin-left:auto;
    margin-right: ;
}

.education {
    margin: 25px;
    padding:15px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 18p;
}

.flex-column-change {
    display:flex;
    flex-direction: column;
    width: 75%;
    justify-content:center;
}

.diploma { 
    width:100%;
    max-width:400px;   
    height:auto;
    padding-bottom: 10px;
    margin:50px
}

#experience-container {
    display:flex;
    flex-direction: column;
    padding:15px 0;
    margin-bottom:35px;
    background-color: #cbcbcb;
    width: 100%;
    justify-content: flex-end;
}


.experience1, .experience2, .experience3, .experience4 {
    border-left:2px solid black;
    padding-left:5%;
    font-size:24px;
    margin:15px 0;
    
}
.experience p{
    font-weight: 400;
}

.experience-wrap {
    display: flex;
    
}

.experience-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.experience-header p {
    font-size:16px;
}
.experience-header h2{
    text-align: center;
}
.experience-responsive {
    display: flex;
    /* width:100%; */
    margin:0% 10%;
}

.experience-titles {
    margin:auto;
    cursor: pointer;
    height:350px;
   
}

.experience-details {
    display:flex;
    flex-direction: column;
    border:2px solid black;
    padding:25px;
    justify-content: center;
    align-items: center;
    width:65%;
   max-height:350px;
    margin:auto;
    box-shadow:  4px 4px 15px;
    
}

.experience-hover {
    font-size:12px;
    margin-bottom: 5px;

}
.detail {
    font-size: 18px;
}

.exper-common p {
    margin: 10px 0;
}

.amazon {
    width:100%;
}

.art {
    width:100%;
}

.neighborhood {
    width:100%;
}

.usmc {
    width:100%;
}

.work-details p {
   margin: 7.5px 0;
}



.projects-line {
    width:10%;
    margin: -15px auto 15px;
    border: 2px solid black;
}

.contact-line-resume {
     width:10%;
    margin: -15px auto 5px;
    border: 2px solid black;
}

#contact-resume {
    background-color: #edeaea;
}
