
html{
  font-family: Korinna, serif;
    box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
#main-board{
  display:flex;
  width: 50%;
justify-content: center;
  margin: 25px auto ;
    
}
body{
  background-color:black;
}
h1{
font-family:anonymous;    
}
h1, h3, p{
  text-align: center;
}
#each-col{
  display: flex;
}
.col{
  display:flex;
  flex-direction: column;
}
button{
  font-family: Korinna, serif;
  color:black;
}

.jeopardy-logo {
    max-width: 100%;
    margin:  25px auto;
    display: block;
}

.buttons {
    display: flex;
    justify-content: center;
    width: 10%;
    margin: auto;
    margin-bottom: 25px;
}

.column-select {
    border-radius: 15px;
    background-color:#efdfc1;
    padding:5px 50px;
    height:25px;
    
}
#column-fill{
    font-family:Korrina,serif;
    font-size: 24px;
    color:#efdfc1;
}
.square{
        font-family: helvetica;

    padding:2px;
    width:150px;
    height: 125px;
    background-color: #130081;
    color: white;
    text-shadow: 2px 2px black;
    font-weight:600;
}
.dollaramt{
    font-size:48px;
    color:#d3a34e;
    
    
}
.title{
    font-size:24px;
    
}