
html{
  font-family: Korinna, serif;
    box-sizing: border-box;
    cursor: pointer;
    
}
*, *:before, *:after {
  box-sizing: inherit;
}
#main-board{
  display:flex;
  width: 50%;
  justify-content: center;
  margin: 25px auto ;
        
}
body{
  background-color:black;
}
h1{
font-family:anonymous;    
}
h1, h3, p{
  text-align: center;
}
#each-col{
  display: flex;
}
.col{
  display:flex;
  flex-direction: column;
}
button{
  font-family: inherit;
  color:black;
}

.jeopardy-logo {
    max-width: 80%;
    margin:  25px auto;
    display: block;
}

.buttons {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 25px;
    flex-wrap:wrap;
}

.column-select {
    border-radius: 15px;
    background-color:#e9be75;
    padding:5px 50px;
    font-size:18px;
    font-weight: 500;
}
.column-fill{
    font-family:Korrina,serif;
    font-size: 33px;
    color:#e9be75;
}
.square{
    font-family: helvetica;
    
    padding:2px;
    min-width:150px;
    min-height: 125px;
    background-color: #130081;
    color: white;
    text-shadow: 2px 2px black;
    font-weight:600;
    
}
.dollaramt{
    font-size:48px;
    color:#d3a34e;
    
}

.title{
    font-size:22px;
    
}
#countdown{
    border-bottom: 5px solid red;
    margin-bottom: 10px;
    width: 35%;
    margin: auto;
}
.home-button{
    border-radius: 15px;
    background-color:#efdfc1;
    height:4%;
    min-width:6%;
    position:absolute;
    margin:2%;
    top: 1%;

}
.home-button a{
  font-family: inherit;
  color:black;  
    text-decoration: none;
}
.yellow-arrow{
    width:50%;
    --animate-duration: 4s;
    margin:15% auto;
    display:block;
}
@media only screen and (max-width: 935px){
    .square{
        min-width:100px;
        min-height: 100px;
    }
    .title{
    font-size:18px;
}
    .dollaramt{
    font-size:36px;
}
    @media only screen and (max-width: 500px){
        .jeopardy-logo {
            margin-top: 15%;
        }
    }   
    @media only screen and (max-width:690px){
        #main-board, .buttons, .column-fill{
            display: none;
        } 
        .show-landscape-message{
            display: block;
            width:100%;
        }
    }
     @media only screen and (min-width:691px){
        .show-landscape-message{
            display: none !important;
        }
    }
.landscape-msg {
    font-family:Korrina,serif;
    font-size: 33px;
    color:#e9be75;
}
