
html{
  font-family: Korinna, serif;
    box-sizing: border-box;
    cursor: pointer;
    
}

*, *:before, *:after {
  box-sizing: inherit;
}
#main-board{
  display:flex;
  width: 50%;
  justify-content: center;
  margin: -1rem auto;
}
body{
  background-color:black;
  padding: 50px 0 125px 0;
}
h1{
font-family:anonymous;    
}
h1, h3, p{
  text-align: center;
}
#each-col{
  display: flex;
   
}
.col{
  display:flex;
  flex-direction: column;
}
button{
  font-family: inherit;
  color:black;
    cursor: pointer;
}

.jeopardy-logo {
    max-width: 80%;
    height: auto;
    margin:  30px auto;
    display: block;
}

.buttons {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 25px;
    flex-wrap:wrap;
}

.column-select {
    border-radius: 15px;
    background-color:#e9be75;
    padding:5px 50px;
    font-size:18px;
    font-weight: 500;
    cursor: pointer;
}
.column-fill{
    font-family:Korrina,serif;
    font-size: 33px;
    color:#e9be75;
}
.square{
    font-family: helvetica;
    
    padding:2px;
    max-width:150px;
    min-height: 125px;
    background-color: #130081;
    color: white;
    text-shadow: 2px 2px black;
    font-weight:600;
    
}
.dollaramt{
    font-size:48px;
    color:#d3a34e;
    
}

.title{
    font-size:22px;
    
}
#countdown{
    border-bottom: 5px solid red;
    margin-bottom: 10px;
    width: 35%;
    margin: auto;
}
.home-button{
    border-radius: 15px;
    background-color:#e9be75;
    height: 35px;
    font-size:18px;
    font-weight: 500;
    min-width:10%;
    text-align: center;
    position:absolute;
}
.home-button a{
  font-family: inherit;
  color:black;  
    text-decoration: none;
    margin:auto;
    
}
.yellow-arrow{
    width:50%;
    --animate-duration: 4s;
    margin:15% auto;
    display:block;
}
.too-small-message{
    display: none;
    font-family:Korrina,serif;
    font-size: 33px;
    color:#e9be75;
}
.landscape-msg {
    font-family:Korrina,serif;
    font-size: 33px;
    color:#e9be75;
}
@media only screen and (max-width: 935px){
    .square{
        max-width:125px;
        min-height:100px;
    }
    .title{
        font-size:18px;
    }
    .dollaramt{
        font-size:36px;
    }
}
    @media only screen and (max-width: 1600px){
        .jeopardy-logo {
            padding-top:6%;
        }
    }   
    @media only screen and (max-width:630px){
        #main-board, .buttons, .column-fill{
            display: none;
        } 
        .show-landscape-message{
            display: block;
            width:100%;
        }
        .jeopardy-logo {
            padding-top:10%;
        }
        .title{
            font-size:12px;
        }
        .dollaramt{
            font-size:16px;
    }
}
    @media only screen and (max-width:670px){
        .square{
        max-width:100px;
        min-height:75px;
    }
        
        .title{
            font-size:16px;
        }
        .dollaramt{
            font-size:32px;
    }
}
     @media only screen and (min-width:631px){
        .show-landscape-message{
            display: none !important;
        }
    }
@media only screen and (max-width:360px){
    .jeopardy-logo {
            padding-top:15%;
        }
}
