html{
  font-family: 'Raleway', sans-serif;
}
body{
  box-sizing: border-box;
  background-image:radial-gradient(grey,black);

}
.home-but{

    min-width:10vw;
    position:absolute;
    top:5%;
    left:2%;
    font-family: 'Orbitron', sans-serif;
  background-color:#343d46;
    padding:1%;
    text-align: center;
    font-size:100%;

}
.home-but div{
    color:white;
    text-decoration: none;
}

.flexadjust{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.main-calc{
border: 3px solid black;
display: flex;
flex-direction: column;
width:50%;

    

}
#currentmath{
  width: 100%;
  text-align: right;
  font-size: 18px;
  font-weight:600;
  background-color:#65737e;
  color:#c73530;
  font-family: 'Orbitron', sans-serif;
  padding: 15px 0;
 

}
#display{
  padding: 15px 2px;
  font-size:30px;
  background-color:#65737e;
  text-align: right;
  color: white;
  font-family: 'Orbitron', sans-serif;
  vertical-align: bottom;

}

#grid{
    width: 100%;
  border-top: 3px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.number{
 width:25%;
  padding: 5%;

}
button{
  font-family: 'Orbitron', sans-serif;
  background-color:#343d46;
  color:white;
font-size:18px;
}
.number:hover{
  transform:scale(1.1);
  background-color:#65737e;
  border: 2px solid black;
  color:black;
}
#resetbut:hover{
  transform:scale(1.1);
  background-color:#e6241e;
  border: 2px solid black;
  color:black;
}


#butdiv{
  width: 100%;
  display: flex;
  justify-content: center;
}
.resetdiv{
width:100%;
}
#resetbut{
  width:100%;
  padding:5px;
  background-color:#c73530;
}
#reset-dialog{
  margin-top:5%;
  color: red;
  text-align:center;
}
#warning-dialog{
  color: red;
  text-align:center;
}




